.MMM-Afvalwijzer .binday-container {
    line-height: 1.50;
    font-size: 20px;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #222;
    position: relative;
    text-align: left;
    width:340px;
}

.MMM-Afvalwijzer .binday-container .binday-date {
    color: #fff;
}

.MMM-Afvalwijzer  .binday-container .binday-icon-container {
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: 6px;
    line-height: 24px;
}

.MMM-Afvalwijzer .binday-container .binday-icon-container .binday-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    vertical-align: bottom;
    display: inline;
    position: relative;
    margin-left: 4px;
}
